In [1]:
import pandas as pd
import numpy as np

# Read data
Data was downloaded from data.nahsville.gov

In [2]:
calls = pd.read_csv('Metro_Nashville_Police_Department_Calls_for_Service.csv')

# EDA
Start with checking the number of rows and columns and look at the first 5 rows, then check the types of each column.

In [3]:
print(calls.shape)
calls.head()

(8089673, 19)

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
0,PD202000711682,09/23/2020 02:26:09 PM,NaN,NaN,87,SAFETY HAZARD,P,PROGRESS,4,NaN,NaN,NaN,5250,H,513,9019.0,NaN,NaN,NaN
1,PD202000712516,09/23/2020 09:47:43 PM,NaN,NaN,83,SHOTS FIRED,P,PROGRESS,11,NaN,NaN,NaN,825B,N,617,4325.0,NaN,NaN,NaN
2,PD202000710687,09/23/2020 05:28:57 AM,NaN,NaN,93,TRAFFIC VIOLATION,NaN,NaN,3,NaN,NaN,NaN,5191,W,111N,5202.0,NaN,NaN,NaN
3,PD202000711464,09/23/2020 12:52:01 PM,NaN,NaN,96,BUSINESS CHECK,NaN,NaN,12,NaN,NaN,NaN,4E75,C,421,4095.0,NaN,NaN,NaN
4,PD201601010109,10/03/2016 09:21:27 PM,NaN,NaN,93,NaN,NaN,NaN,9T,NaN,NaN,NaN,321B,S,321,8706.0,NaN,NaN,NaN

In [4]:
calls.dtypes

Event Number                   object
Call Received                  object
Complaint Number              float64
Shift                         float64
Tencode                         int64
Tencode Description            object
Tencode Suffix                 object
Tencode Suffix Description     object
Disposition Code               object
Disposition Description       float64
Block                         float64
Street Name                    object
Unit Dispatched                object
Sector                         object
Zone                           object
RPA                           float64
Latitude                      float64
Longitude                     float64
Mapped Location                object
dtype: object

## Find first and last call
The Call Received column contains date and time information, but is an object. Find the first and last based on the string values contained in Call Received.

In [5]:
firstcalls = calls[calls['Call Received'].str.contains('01/01/2013 12:00')]
firstcalls

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
1996916,PD201300001315,01/01/2013 12:00:08 PM,NaN,NaN,43,NaN,PV,NaN,11,NaN,3700.0,TURLEY DR,334A,S,321,8707.0,36.076,-86.709,POINT (-86.709 36.076)
4807459,PD201300001317,01/01/2013 12:00:56 PM,NaN,NaN,71,NaN,A,ALARM,6,NaN,700.0,MYATT DR,711A,715,727,1731.0,36.295,-86.697,POINT (-86.697 36.295)
4833865,PD201300001316,01/01/2013 12:00:14 PM,NaN,NaN,43,NaN,P,PROGRESS,11,NaN,1100.0,SAXONY LAKE DR,NaN,337,331,8719.0,36.050,-86.677,POINT (-86.677 36.05)
5276664,PD201300000001,01/01/2013 12:00:17 AM,NaN,NaN,15,NaN,P,PROGRESS,15,NaN,NaN,11TH AV N,410C,C,411,4205.0,NaN,NaN,NaN

In [6]:
lastcalls = calls[calls['Call Received'].str.contains('11/10/2020 11:59')]
lastcalls

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
79875,PD202000822620,11/10/2020 11:59:12 PM,NaN,NaN,40,SUSPICIOUS PERSON,PV,NaN,6,NaN,NaN,NaN,715C,M,713N,1621.0,NaN,NaN,NaN

## Inspect null values

In [7]:
calls.isnull().sum()/calls.shape[0]*100

Event Number                    0.000000
Call Received                   0.000000
Complaint Number               93.012585
Shift                         100.000000
Tencode                         0.000000
Tencode Description            98.403495
Tencode Suffix                 45.708102
Tencode Suffix Description     52.560864
Disposition Code                0.545350
Disposition Description       100.000000
Block                          70.163738
Street Name                    56.605044
Unit Dispatched                 6.334162
Sector                         17.825813
Zone                           10.275829
RPA                            19.518292
Latitude                       79.378499
Longitude                      79.378499
Mapped Location                79.378499
dtype: float64

## Drop columns with all null values

In [8]:
calls = calls.drop(['Shift','Disposition Description'], axis=1)

## Inspect calls that have null values for Unit Dispatched

In [9]:
noUnit = calls[calls['Unit Dispatched'].isnull()]
noUnit.head()

,Event Number,Call Received,Complaint Number,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
10,PD202000711851,09/23/2020 03:31:27 PM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,1,400.0,GALLATIN PKE S,NaN,M,711,1781.0,NaN,NaN,NaN
28,PD202000711073,09/23/2020 09:33:46 AM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,4,NaN,NaN,NaN,S,335N,8905.0,NaN,NaN,NaN
30,PD202000711206,09/23/2020 10:44:24 AM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,1,400.0,2ND AV N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,PD202000711553,09/23/2020 01:32:33 PM,NaN,40,SUSPICIOUS PERSON,P,PROGRESS,11,4600.0,WOODVIEW CIR,NaN,H,525,9725.0,36.237,-86.593,POINT (-86.593 36.237)
37,PD202000711518,09/23/2020 01:14:27 PM,NaN,45,VEHICLE ACCIDENT - PROPERTY DAMAGE,P,PROGRESS,11,NaN,NaN,NaN,S,335,8979.0,NaN,NaN,NaN

In [10]:
print(noUnit.shape)
noUnit.isnull().sum()

(512413, 17)

Event Number                       0
Call Received                      0
Complaint Number              499887
Tencode                            0
Tencode Description           501259
Tencode Suffix                 39397
Tencode Suffix Description    109856
Disposition Code               14517
Block                         352173
Street Name                   302864
Unit Dispatched               512413
Sector                         72227
Zone                           32259
RPA                            62226
Latitude                      397562
Longitude                     397562
Mapped Location               397562
dtype: int64

In [11]:
noUnit['Disposition Code'].value_counts()

11    385704
4      30987
1      21147
12      9606
15      7004
       ...
6C         1
7T         1
4D         1
4M         1
7P         1
Name: Disposition Code, Length: 77, dtype: int64

## Results of Disposition Code
The Disposition Code shows that almost 85% of the calls with no Unit Dispatched were disregarded, report completed, or assisted citizen. Most of the nulls can be attributed to no units being dispatched for those calls.

## Inspect calls with location data available
Check the calls that have location data availabe in order to determine if we can use that data.

In [12]:
locationCalls = calls[calls['Latitude'].notnull()]
locationCalls.head()

,Event Number,Call Received,Complaint Number,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
8,PD202000712664,09/23/2020 11:48:46 PM,NaN,57,FIGHT / ASSAULT,P,PROGRESS,10,2700.0,DICKERSON PKE,220C,NaN,218X,0.0,36.216,-86.764,POINT (-86.764 36.216)
15,PD202000711783,09/23/2020 03:04:40 PM,2.020061e+10,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,1,5100.0,HARDING PL,323B,NaN,323W,0.0,36.090,-86.688,POINT (-86.688 36.09)
16,PD202000712232,09/23/2020 06:37:38 PM,NaN,50,THEFT,RC,NaN,6,200.0,TAMPA DR,313B,NaN,313V,0.0,36.084,-86.711,POINT (-86.711 36.084)
19,PD202000712301,09/23/2020 07:05:34 PM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,4,3400.0,GALLATIN PKE,227B,NaN,214Z,0.0,36.210,-86.734,POINT (-86.734 36.21)
31,PD202000711553,09/23/2020 01:32:33 PM,NaN,40,SUSPICIOUS PERSON,P,PROGRESS,11,4600.0,WOODVIEW CIR,NaN,H,525,9725.0,36.237,-86.593,POINT (-86.593 36.237)

In [13]:
locationCalls.shape

(1668212, 17)

In [14]:
location2013 = locationCalls[locationCalls['Call Received'].str.contains('2013')]
location2020 = locationCalls[locationCalls['Call Received'].str.contains('2020')]

In [15]:
print('Location in 2013: {0}'.format(location2013.shape[0]))
print('Location in 2020: {0}'.format(location2020.shape[0]))

Location in 2013: 527477
Location in 2020: 79966

## Location data is not recent
The data seems to be available in every year.

In [16]:
locationCalls.isnull().sum()/locationCalls.shape[0]*100

Event Number                   0.000000
Call Received                  0.000000
Complaint Number              96.060752
Tencode                        0.000000
Tencode Description           98.993653
Tencode Suffix                45.115069
Tencode Suffix Description    50.884420
Disposition Code               0.611613
Block                          6.612169
Street Name                    0.983268
Unit Dispatched                6.884677
Sector                        39.230146
Zone                           0.168444
RPA                            0.065519
Latitude                       0.000000
Longitude                      0.000000
Mapped Location                0.000000
dtype: float64